@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd2";
  src: url("fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
